---
layout: default
title: Mystic &gt; about
section_id: about
bars:
  - title: Backend Development
    percent: 100
  - title: Web Development
    percent: 95
  - title: Mobile Development
    percent: 82
  - title: Training
    percent: 75
members:
  - image: member-1.jpg
    name: Andrew Lombardi
    position: Founder &amp; Architect
    desc:
      Andrew Lombardi is a veteran entrepreneur and software developer. His parents taught him to code while barely able to read on an
      Apple // he still wishes he had. He invented the Internet and Nutella (suck it Al Gore) while drinking bulletproof coffee and
      staring off into space. He’s been running the consulting firm Mystic Coders for 18 years, authored a kick-ass book for O'Reilly
      on WebSocket, coding, speaking internationally and offering technical guidance to companies as large as Walmart and companies
      with problems as interesting as helicopter simulation. He firmly believes that the best thing he’s done so far, is being a great
      dad.
    socials:
      - name: twitter
        link: http://twitter.com/kinabalu
        color: yellow
      - name: facebook
        link: http://facebook.com/mysticcoders
        color: yellow
      - name: github
        link: http://github.com/kinabalu
        color: yellow
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Who we are</h2>
      <p>Learn a bit more about who we are</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
        <span class='drop-letters'>O</span>
        ur team is a dedicated group of technologists and business-minded folks who have a passion for solving business needs with tech-based solutions.  Headed by our geek in charge Andrew Lombardi, the group has created solutions for companies as large as Walmart and Motorola, to the yoga teacher just looking for a some help with her website.  Over the last 6 years our team has also spoken at venues around the world, teaching developers how to better use their tools, and imparting wisdom about best practices for using them.</p>

        <p>We're excited to work with our clients, as we feel it is a partnership that we grow together.  We look forward to talking about your needs, and seeing if we can build something great together.
        </p>
    </div>
    <div class='medium-6 large-6 columns'>
      <ul class='bars'>
        {% for bar in page.bars %}
          <li>
            <h4>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>



<div class='members'>
  <div class='full no-padding'>
    <div class='row'>
      {% for member in page.members %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='member centered-text {{active_class}}'>
            <img src='{{site.url}}/images/{{member.image}}'>
            <h3>{{member.name}}</h3>
            <p class='position'>{{member.position}}</p>
            <p>
              {{member.desc}}
            </p>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>


    <div class='three spacing'></div>
    <div class='three spacing'></div>
  </div>
</div>


  <a name="contactus"></a>
  {% include get-in-touch.html %}
