---
layout: default
title: Mystic &gt; events
section_id: events
events:
  -
    - title: ConFoo 2018
      location: Montreal, Canada
      icon: calendar
      dates: 03/07/2018 - 03/09/2018
      desc:
        We're heading up to visit our neighbors to the north and talk about "How to leverage WebSocket in the real world" and discuss how to "Build your own cryptocurrency for fun and fractional profit".  
        If you're in the neighborhood or fancy sharing some poutine and iced wine with a touch of maple syrup. Join us!
archive_events:
  -
    - title: Java2Days 2017
      location: Sofia, Bulgarian
      icon: calendar
      dates: 10/17/2017 - 10/19/2017
      desc:
        Our ninth year at Java2Days and the group moved to a new venue, and as always had the same great attitude of fun in a slightly updated location at the Sofia Tech Park. We hung out with 
        technologists from Bulgaria and around the globe. We discussed React, talked a bit of microservices, and espoused the wonders that is Terraform (which we've grown fond of).
    - title: Java2Days 2016
      location: Sofia, Bulgaria
      icon: calendar
      dates: 11/14/2016 - 11/17/2016
      desc:
        It will be our eigth year at this wonderful conference put on by a stellar team. Join us and learn about microservices with Python, and building frontend applications in lovely component form using React.
    - title: Java2Days 2015
      location: Sofia, Bulgaria
      dates: 11/1/2015 - 11/4/2015
      icon: calendar
      desc:
        We feel the love in Bulgaria every year, love the people and the great conversations.
    - title: Confoo 2015
      location: Montreal, Canada
      icon: compass
      dates: 2/16/2015 - 2/20/2015
      desc:
        From Objective-C, Java, and Swift to hybrids like Titanium and PhoneGap. We've got you covered.
    - title: Java2Days 2014
      location: Sofia, Bulgaria
      dates: 11/17/2014 - 11/19/2014
      icon: compass
      desc:
        Our yearly visit to Sofia, Bulgaria
        Any language, any Unix-based platform and we've got you covered.  Our main focus is catering to your business need, and getting it deployed.
    - title: Java2Days 2013
      location: Sofia, Bulgaria
      icon: calendar
      dates: 12/3/2013 - 12/4/2013
      desc:
        Sofia keeps calling our name, and we have to answer.  Come visit with us in a little over a week and learn about how to use Websockets, and dazzled by some quick iOS magic making.  Looking forward to seeing everyone there!
    - title: Confoo 2013
      location: Montreal, Canada
      icon: calendar
      dates: 02/25/2013 - 03/01/2013
      desc:
        Apparently conferences are attracted to the cold weather, probably due to all the surfing I do during the summer months.  We'll again be in Montreal early next year to put a nail in the coffin of Flash, and build some cool mobile applications useful for both the Android and iOS platforms.  Come avoid the messiness of Objective-C and join the future of software development.  Go mobile now!
    - title: Java2Days 2012
      location: Sofia, Bulgaria
      icon: calendar
      dates: 10/25/2012 - 10/26/2012
      desc:
        We really love speaking in Sofia, Bulgaria.  It may be the Rakia talking, or the warm hospitality we always receive when there.  Whatever the reason, we're on our way back, and we're going to give a rundown of HTML5 and building mobile applications with Appcelerator Titanium.  Looking forward to seeing everyone there!
    - title: Software Passion Summit 2012
      location: Göteborg, Sweden
      icon: calendar
      dates: 03/19/2012 - 03/20/2012
      desc:
        We're back to lovely Göteborg in mid March for the Software Passion Summit.  Our talk on the HTML5 Landscape is always in high attendance, and its fun to learn about the nuances and differences in implementation that exist today.  And we'll be giving an overview of Apache Wicket, and how to get up and running fast in developing your next Java WebApp with Apache Wicket.
    - title: Confoo 2012
      location: Montreal, Canada
      icon: calendar
      dates: 02/29/2012 - 03/02/2012
      desc:
        Early in 2012 we're going to brave the cold again and attend ConFoo in lovely Montreal, Canada.  We'll try and put a few more daggers in Flash by talking about how to get started with HTML5.  And while we're at it, if you've spent the time to learn some Javascript, we'll do a session on how to build iOS (iPhone/iPad) applications using the language and avoid the messy learning path of Objective-C.
    - title: Java2Days 2011
      location: Sofia, Bulgaria
      icon: calendar
      dates: 11/03/2011 - 11/04/2011
      desc:
        For the second part of our European tour, we head to lovely Sofia, Bulgaria.  While there we'll be giving talks about <a href="http://wicket.apache.org">Apache Wicket</a> and doing an hour on building iPhone / iPad applications using Javascript!  See you there!
    - title: Scandev on Tour 2011
      location: Stockholm, Sweden
      icon: calendar
      dates: 10/18/2011
      desc:
        Off to Sweden in April for a talk at the wonderful <a href="http://scandevconf.se" target="_blank">Scandinavian Developer's Conference on Tour 2011</a>.  We'll be giving a talk about <a href="http://wicket.apache.org">Apache Wicket</a> and how to get started.  And we'll be doing an hour on building iPhone / iPad applications using Javascript!  If you can make it, it should be a very packed and informative intense day.
    - title: Scandev 2011
      location: Göteborg, Sweden
      icon: calendar
      dates: 04/04/2011 - 04/05/2011
      desc:
        Off to Sweden in April for a talk at the wonderful <a href="http://scandevconf.se" target="_blank">Scandinavian Developer's Conference 2011</a>.  While we won't be giving any talks about <a href="http://wicket.apache.org" target="_blank">Apache Wicket</a> this time, we do plan to evangelize while we are there.  This year we'll be doing an hour talk about building iPhone/iPad applications using JavaScript!  Should be a lot of fun, and G&ouml;teborg is beautiful and accommodating as always.
    - title: RWX 2010
      location: Ft Lauderdale, Florida, USA
      icon: calendar
      dates: 11/30/2010 - 12/03/2010
      desc:
        Get ready for some fun in doors learning about web technology and especially Apache Wicket!  We're reprising our talks from uberconf so if you missed it in Denver, catch it in Ft Lauderdale.  So fatten up on thanksgiving turkey, eat all the stuffing you can, and then fill your head full of great information down in Florida with the rest of us.  If uberconf is any indication, it promises to be a jam packed source for the latest and greatest on all the tech the web has to offer.
    - title: Java2Days 2010
      location: Sofia, Bulgaria
      icon: calendar
      dates: 10/02/2010 - 10/03/2010
      desc:
        Ahhh Dobar den!  Here at Mystic, we love the Bulgarian people a whole lot.  Our last trip out there was a whole lot of fun, and packed full of great talks, in-depth on every topic imaginable in the Java realm.  This year we'll be giving two talks, one on Apache Wicket and another on HTML5.  If you're in the area, make sure and join us in Sofia and come hang out for a couple of days.
    - title: Überconf 2010
      location: Denver, Colorado, USA
      icon: calendar
      dates: 06/14/2010 - 06/17/2010
      desc:
        We've been invited to speak at Überconf in Denver to talk about Apache Wicket.  I've always liked the longer sessions at No Fluff Just Stuff, and this seems to take it to the next level.  We'll be doing a beginner and advanced talk along with a half day of hands on, get up close and personal writing a real Wicket application.  We're really excited about the prospect of coming out and sharing the information, and looking forward to seeing everyone there.
    - title: irishdev 2010
      location: Dublin, Ireland
      icon: calendar
      dates: 06/08/2010 - 06/11/2010
      desc:
        We'll be giving 2 in-depth talks about Apache Wicket for the Irish Developer Conference in Dublin.  The courses will be a beginner and advanced talk on Wicket so prepare to devour information about how to buildf your next application with Apache Wicket.  Learn to enjoy development again and eschew the broken model that has been promoted for so long in the web world.
    - title: Jazoon 2010
      location: Zurich, Switzerland
      icon: calendar
      dates: 06/01/2010 - 06/03/2010
      desc:
        Andrew will be giving a talk about architecting applications with Apache Wicket for Jazoon '10.  We would love to see you in Switzerland in June, and learn a bit about how much better development can get with Wicket in the toolbelt.
    - title: Scandev 2010
      location: Göteborg, Sweden
      icon: calendar
      dates: 03/16/2010 - 03/17/2010
      desc:
        We've been asked to speak at the Scandev Conference SDC2010 event in Sweden in March of 2010.  We'll be giving two talks during our time at the conference which will cover the basics of Apache Wicket along with a more in depth advanced talk to take full advantage of the power the framework provides.
    - title: TSSJS/EU 2009
      location: Prague, Czech Republic
      icon: calendar
      dates: 10/27/2009 - 10/28/2009
      desc:
        We've been invited to again share Apache Wicket and the technologies benefits to developers and business people alike.
    - title: Java2Days 2009
      location: Sofia, Bulgaria
      icon: calendar
      dates: 10/08/2009 - 10/09/2009
      desc:
        We've been invited and will be speaking at the Expo Center in Sofia about Java for the first conference of it's kind in the balkans.
    - title: LAJUG 2009
      location: Pasadena, CA, USA
      icon: calendar
      dates: 09/28/2009
      desc:
        We'll be giving a talk on Apache Wicket.  Andrew won a Java Rebel license at the last Pasadena JUG and we've been kicking the tires so we can show it off along with Apache Wicket.  We'll be showing off Apache Wicket 1.4, it's benefits for any development teams.
    - title: OCJUG 2009
      location: Orange County, CA, USA
      icon: calendar
      dates: 06/11/2009
      desc:
        Andrew will be speaking at the Orange County Java Users Group to talk about application architecture using Apache Wicket as a basis for solid object-oriented webapp development.  We'll cover the basics of Apache Wicket along with real-world examples to get you started.
    - title: JavaOne 2009
      location: San Francisco, CA, USA
      icon: calendar
      dates: 06/02/2009 - 06/05/2009
      desc:
        Some folks from Mystic are set to attend and cover 2009 JavaOne Conference this year.
    - title: TSSJS/LV 2009
      location: Las Vegas, Nevada, USA
      icon: calendar
      dates: 03/18/2009 - 03/20/2009
      desc:
        Andrew Lombardi will be speaking at TSSJS/LV 2009 about Apache Wicket and  its many benefits for any development teams

---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Upcoming Events</h2>
      <p>Mystic strives to give back, and get the word out about technology and issues that are important to us.  We're available for speaking engagements and training: speaking@mysticcoders.com.</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.events %}
    <div class="row">
      {% for event in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{event.icon}}'></i>
          <h3>{{event.title}}</h3>
          <p class="small" style="font-family: 'droid serif', georgia; font-style: italic; font-size: 14px;">{{event.location}}<br />{{event.dates}}</p>
          <p>{{event.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}

  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Past Events</h2>
      <p>Our team speaks at conferences worldwide</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.archive_events %}
    <div class="row">
      {% for event in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{event.icon}}'></i>
          <h3>{{event.title}}</h3>
          <p class="small" style="font-family: 'droid serif', georgia; font-style: italic; font-size: 14px;">{{event.location}}<br />{{event.dates}}</p>
          <p>{{event.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}


</div>
