---
layout: default
title: Mystic &gt; services
section_id: services
services:
  -
    - title: Web Development
      icon: layout
      desc:
        Any language, any Unix-based platform and we've got you covered.  Our main focus is catering to your business need, and getting it deployed.
      color:
    - title: App Development
      icon: mobile
      desc:
        From Objective-C, Java, and Swift to hybrids like Titanium and PhoneGap. We've got you covered.
      color:
    - title: Training
      icon: chat
      desc:
        We've done trainings with web technologies, mobile, and enterprise tech for companies and conferences small and very very large.
      color:
    - title: Technology Consulting
      icon: code
      desc:
        Our team are experts in their field, so we're able to assess technology faster and provide quick solutions.
      color:
    - title: Product Evangelism
      icon: phone
      desc:
        We've done it for several products by plugging the technology at conferences worldwide.
      color:
    - title: Business Automation
      icon: fast-forward
      desc:
        If you're being repetitive, you're wasting man hours that could be automated by a machine.  Let us help you get there.
      color:
    - title: Cloud Migration
      icon: cloud
      desc:
        Cloud cloud cloud Cloud cloud cloud Cloud cloud cloud Cloud cloud cloud Cloud cloud cloud Cloud cloud cloud Cloud cloud cloud 
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Our services</h2>
      <p>Adding value to your company is what we're all about, web &amp; mobile development is our tools to help you get there.</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-4 large-4 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>