<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get in touch</h2>
        <p>
        We would love to chat with you about your new project, send us a message with the form below.
        </p>
      </div>
    </div>
  </div>
</div>

<div class='full yellow'>
  <div class='form'>
    <form name="contact" action="thank-you" netlify>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
          <input placeholder='NAME' type="text" name="name">
          <input placeholder='EMAIL' type="email" name="email"></label>
          <input placeholder='SUBJECT' type="text" name="subject"></label>
        </div>
        <div class='medium-6 large-6 columns'>
          <textarea placeholder='MESSAGE' name="message"></textarea>
          <button type="submit" class='button white'>Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
