---
layout: blog
section_id: blog
---

{{page.categories}}


<div class='post'>
  <div class='timestamp left text-center'>
    <span class='month'>{{ page.date | date: "%h" }}</span>
    <span class='date'>{{ page.date | date: "%d" }}</span>
  </div>
  <div class='info'>
    <h3>
      <a href='{{page.url}}'>{{ page.title }}</a>
    </h3>
    <p>
      By
      <span class='author'><a href="{{ page.author.url }}">{{ page.author.display_name }}</a></span>
      {% if page.author.twitter %}
      - <a style="color: #fcbf31;" href="https://twitter.com/{{ page.author.twitter }}">@{{ page.author.twitter }}</a>
      {% endif %}
      |
      <a href='{{site.url}}{{page.url}}#disqus_thread'>Comments</a>
    </p>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="kinabalu" data-related="kinabalu">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>

    <p>&nbsp;</p>
  </div>
  <div class='content'>
    {{ content }}
  </div>
</div>

<div class='three spacing'></div>

{% if page.comments %}
<a id='comments'></a>
<div class='comments-wrapper'>

  <!-- An element a visitor can click if they <3 comments! -->
    <button class="show-comments">Load comments</button>

    <div id="disqus_thread"></div>
    <script type="text/javascript">

      // Requires jQuery of course.
      $(document).ready(function() {
          $('.show-comments').on('click', function(){
                var disqus_shortname = 'gotmystic'; // Replace this value with *your* username.

                // ajax request to load the disqus javascript
                $.ajax({
                        type: "GET",
                        url: "https://" + disqus_shortname + ".disqus.com/embed.js",
                        dataType: "script",
                        cache: true
                });
                // hide the button once comments load
                $(this).fadeOut();
          });
      });

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

<div class='full yellow'>
    <div class='row'>
      <div class='medium-12 large-12 columns'>
        <div class="special-title centered-text">
        <h2>Join the Mystic Team</h2>
        <p>
          If articles like this, and technology that we discuss on the blog
          is interesting to you, let us know
            <p>&nbsp;</p>

          <button class="button white" onClick="location.href='/talent.html#contactus'">GET IN TOUCH</button>
        </p>
        </div>
      </div>
    </div>
</div>
